:root{
    --color-primary: #513C6E;
    --color-secondary: #77a38f;
    --color-tertiary: #7E9CAB; 

    --text-primary: #141414;
    --text-secondary: #d6d6d6;
}

.light-theme{
    --color-primary: #8e6bbe;
    --color-secondary: #99cfb7;
    --color-tertiary: #9dc2d4; 

    --text-secondary: #141414;
}

.bg-primary{
    background-color: var(--color-primary);
}

.bg-secondary{
    background-color: var(--color-secondary);
}

.bg-tertiary{
    background-color: var(--color-tertiary);
}

.fg-primary{
    color: var(--text-primary);
}

.fg-secondary{
    color: var(--text-secondary);
}

.bg-linear1{
    background-image: linear-gradient(var(--color-primary), var(--color-secondary));
}

.bg-linear2{
    background-image: linear-gradient(var(--color-secondary), var(--color-primary));
}

