.home-image{
    background-image: url(/assets/bench.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.icon-dark{
    background: url('https://api.iconify.design/iconoir/sun-light.svg?color=%23383535&width=40&height=40') no-repeat center center / contain;
}

.icon-light{
    background: url('https://api.iconify.design/material-symbols/dark-mode.svg?color=%23383535&width=40&height=40') no-repeat center center / contain;
}

.icon-gitHub{
    content: url('https://api.iconify.design/akar-icons/github-fill.svg?color=%23141414&width=80&height=80');
}
