*{
    margin: 0px;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: sticky;
    top: 0px;
    z-index: 99;
    padding: 1rem;
}

.ul{
    display: flex;
    list-style: none;
    gap: 20px;
}

li{
    font-size: 24px;
    padding-top: 10px;
    padding-right: 10px;
}

.home-image{
    background-image: url(/assets/bench.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home-image-text{
    font-size: 64px;
    position: absolute;
    color: rgb(58, 57, 57);
    min-width: 20vw;
    min-height: 10vh;
    
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.6);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.3px);
    -webkit-backdrop-filter: blur(7.3px);
    border: 1px solid rgba(255, 255, 255, 0.34);
}


.about-image{
    border-radius: 50%;
    max-height: 50vh;
    max-width: 30vw;
    border: 2px solid black;
}

section{
    font-size: x-large;
    text-align: center;
    line-height: 1.5;
}

.project{
    min-width: 30vw;
    max-width: 30vw;
    min-height: 45vh;
    margin-bottom: 2rem;
    gap: 1rem;
}

.project img{
    max-width: 25vw;
    max-height: 20vh;
    margin-bottom: 1rem;
    border: 2px solid lightgray;
}

.text-wrapper p{
    padding-left: 2.5rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
    text-align: left;
    text-indent: -15px;
}

a{
    color: #141414;
}

.buffer{
    min-height: 20vh;
    background-color: #513C6E;
}

button{
    height: 50px;
    width: 50px;
}

.icon-light{
    background: url('https://api.iconify.design/iconoir/sun-light.svg?color=%23383535&width=40&height=40') no-repeat center center / contain;
}

.icon-dark{
    background: url('https://api.iconify.design/material-symbols/dark-mode.svg?color=%23383535&width=40&height=40') no-repeat center center / contain;
}